<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800"
	rel="stylesheet" type="text/css" />
<link
	href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css"
	rel="stylesheet" crossorigin="anonymous">
<title>Login</title>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div th:if="${param.error}">
					<div class="alert alert-danger">Invalid username or password.</div>
				</div>
				<div th:if="${param.logout}">
					<div class="alert alert-info">You have been logged out.</div>
				</div>
				<form class="form-signin" method="POST" action="/login"
					th:action="@{/login}">
					<h2 class="form-signin-heading">Please sign in</h2>
					<p>
						<label for="username" class="sr-only">Username</label> <input
							type="text" id="username" name="username" class="form-control"
							placeholder="Username" required="" autofocus="">
					</p>
					<p>
						<label for="password" class="sr-only">Password</label> <input
							type="password" id="password" name="password"
							class="form-control" placeholder="Password" required="">
					</p>
					<button class="btn btn-lg btn-primary btn-block" type="submit">Sign
						in</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<p>
					<a href="/" th:href="@{/}">Back to home page</a>
				</p>
			</div>
		</div>
	</div>
</body>
</html>