<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>Good Thymes Virtual Grocery</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
  </head>

  <body>
  <div class="container">
  <div class="row">
        <div class="col-md-6 col-md-offset-6">
        <h2><a th:href="@{/}">Home</a></h2>
        </div>
   </div>
    <div class="starter-template">
        <h1>Secure page</h1>
        <div th:object="${user}">
        <p> Hello! <span th:text="*{name}">Sebastian</span></p>
        <p> Thank you for your patronage since <span th:text="*{customerSince.time}">today</span></p>
        </div>
        <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        </div>
    </div>
</div>
  </body>
  
</html>
